
<div class="" style="margin-top: 5%">
  <h1>Contacts Database</h1>
</div>
  
<div class="">
  <h4>Search Contacts</h4>
  <input type="text" id="search" name="search_term" placeholder="Search...">
</div>
<div class="one-half column">
  <h4>Add a contact</h4>
  <form id="new-contact-form">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname">
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname">
    <label for"email">Email:</label>
    <input type="text" id="email">
    <button id="add-contact">Add</button>
  </form>
</div>


<br>
<br>

<div class="">
  <table id="contacts-table" border="1" style="width:30%">
    <thead>Contacts Table</thead>
      <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Email</td>
      </tr>
      <tr>
        <td>-</td>
        <td></td>
        <td></td>
      </tr>
  </table>
</div>

